<div class="min-h-screen bg-gradient-to-b from-green-300 via-yellow-100 to-pink-500 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Forgot your password?
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Enter your email address and we'll send you a link to reset your password.
      </p>
    </div>
  
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="space-y-6">
          @if(!otpSented){
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">
                Email address
              </label>
              <div class="mt-1">
                <input id="email" name="email" type="email" formControlName="email" required
                  [attr.disabled]="emailSubmitted ? '' : null"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  [ngClass]="{'bg-gray-100': emailSubmitted}">
              </div>
            </div>
          }

          @if(otpSented && !otpVerified){
            <div class="h-auto w-full bg-[] flex flex-col gap-2 mt-4">
              <p class="w-full text-center text-[20px] font-semibold">OTP verification</p>
              <p class="w-full text-center text-[12px] font-bold ">Enter the otp sent to {{email}}<span class="font-semibold text-[gray]"></span></p>
            </div>

            <div class="h-auto w-full bg-[] flex gap-2 justify-center mt-4 ">
              <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4,allowNumbersOnly:true}" ></ng-otp-input>
            </div>

            <p class="w-full bg-[] text-[13px] text-center mt-2">Don't you recieve the otp? 
              @if(isButtonEnabled){<span class="text-[blue] cursor-pointer" (click)="handleClick()">Resent otp</span>}
              @if(!isButtonEnabled){<span class="text-[red]">{{ countdown }} seconds</span>}
            </p>

            <div class="w-full flex items-center justify-center mt-6">
              <button class="h-[40px] w-[90%] bg-[blue] text-white rounded-[20px]" (click)="onOtpSubmit()">Verify</button>
            </div>
          }
  
          @if(otpVerified){
            <div *ngIf="showPasswordField">
              <label for="newPassword" class="block text-sm font-medium text-gray-700">
                New Password
              </label>
              <div class="mt-1">
                <input id="newPassword" name="newPassword" type="password" formControlName="newPassword" required
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>
          }
  
          @if(!otpSented || otpVerified){
            <div>
              <button type="submit" [disabled]="btnDisable"
                class="w-full flex justify-center py-2 px-4 rounded-md shadow-sm text-sm font-medium text-blue-900 bg-gradient-to-r from-blue-200 via-purple-300 to-purple-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {{ showPasswordField ? 'Reset Password' : 'Next' }}
              </button>
            </div>
          }
          @if(backendError){
            <p class="w-full text-red-600 text-[13px] text-center mt-2">{{backendError}}</p>
          }
        </form>
      </div>
    </div>
  </div>